<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceFlow</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <div class="icon-container">
                <i class="fa-solid fa-wallet"></i>
            </div>
        </div>
        <nav>
            <a href="/" class="active">Счета</a>
            <a href="/categories">Категории</a>
            <a href="/transactions">Записи</a>
            <a href="/analyze">Аналитика</a>
            <a href="#">Нейронка</a>
        </nav>
    </header>

    <!-- redact account block -->
    <div id="accountModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Редактировать счет</h2>
                <span class="close" onclick="closeModal('accountModal')">&times;</span>
            </div>

            <form action="/update_account" method="post">
                <!-- id only for server -->
                <input type="hidden" id="editAccountId" name="ID">
                <div class="form-row">
                    <div class="form-group name-group">
                        <label for="editAccountName">Название <span class="required">*</span></label>
                        <input type="text" id="editAccountName" name="Name" class="form-control" required>
                    </div>
                    <div class="form-group color-group">
                        <label>Цвет</label>
                        <div class="custom-color-picker">
                            <div class="color-display">
                                <span id="colorPreview" class="color-dot"></span>
                                <span id="colorHexValue" class="color-hex">#000000</span>
                            </div>
                            <input type="color" id="editAccountColor" name="Color">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group balance-group">
                        <label for="editAccountBalance">Баланс</label>
                        <input type="text" id="editAccountBalance" name="Balance" class="form-control"
                            inputmode="decimal" required>
                    </div>
                    <div class="form-group currency-group">
                        <label for="editAccountCurrency">Валюта</label>
                        <input type="text" id="editAccountCurrency" name="Currency" class="form-control" readonly
                            style="background-color: #f5f5f5; cursor: not-allowed;">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group icon-group">
                        <label>Иконка <span class="required">*</span></label>
                        <div class="custom-icon-select">
                            <input type="hidden" id="editAccountIcon" name="Icon">
                            <div id="selectedIconDisplay" class="select-selected-icon">
                                <span class="selected-icon-svg"></span>
                                <span class="selected-icon-key">Выберите иконку</span>
                            </div>
                            <div id="iconOptions" class="select-icon-options">
                                {{range $key, $svg := .Icons}}
                                <div class="select-icon-option" data-key="{{$key}}">
                                    <span class="option-icon-svg">{{$svg}}</span>
                                    <span class="option-icon-key">{{$key}}</span>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="delete-button" onclick="deleteAccount()">Удалить счет</button>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>

    <div class="accounts-container">
        {{range .Accounts}}
        <div class="account-card" style="background-color: {{.Color}};"
            onclick="openAccountModal({{.ID}}, '{{.Name}}', '{{.Color}}', '{{.IconKey}}', '{{.Balance}}', '{{.CurrencySymbol}}')">
            <div class="account-icon">{{.IconHTML}}</div>
            <div class="account-info">
                <h3>{{.Name}}</h3>
                <p class="balance">
                    {{$balance := printf "%.2f" .Balance}}
                    {{$balance}} {{.CurrencySymbol}}
                </p>
            </div>
        </div>
        {{else}}
        <p>Счетов пока нет. Создайте новый счет! Это не сложно.</p>
        {{end}}
        <div class="new_account-card" onclick="openCreateModal()">
            <i class="fa-solid fa-plus"></i>
            <span>Добавить счет</span>
        </div>
    </div>

    <!-- model of create account -->
    <div id="createAccountModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Создать новый счёт</h2>
                <span class="close" onclick="closeModal('createAccountModal')">&times;</span>
            </div>
            <form action="/create_account" method="post">
                <div class="form-row">

                    <div class="form-group name-group">
                        <label for="createAccountName">Название <span class="required">*</span></label>
                        <input type="text" id="createAccountName" name="Name" class="form-control" required>
                    </div>

                    <div class="form-group color-group">
                        <label>Цвет</label>
                        <div class="custom-color-picker">
                            <div class="color-display">
                                <span id="createColorPreview" class="color-dot"></span>
                                <span id="createColorHexValue" class="color-hex">#000000</span>
                            </div>
                            <input type="color" id="createAccountColor" name="Color" value="#4cd67a">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group icon-group">
                        <label>Иконка <span class="required">*</span></label>
                        <div class="custom-icon-select">
                            <input type="hidden" id="createAccountIcon" name="Icon">
                            <div id="createSelectedIconDisplay" class="select-selected-icon">
                                <span class="selected-icon-svg"></span>
                                <span class="selected-icon-key">Выберите иконку</span>
                            </div>
                            <div id="createIconOptions" class="select-icon-options">
                                <div class="select-icon-option" data-key="0">
                                    <span class="option-icon-svg">{{index .Icons "Наличные"}}</span>
                                    <span class="option-icon-key">Наличные</span>
                                </div>

                                <div class="select-icon-option" data-key="1">
                                    <span class="option-icon-svg">{{index .Icons "Сберегательный счет"}}</span>
                                    <span class="option-icon-key">Сберегательный счет</span>
                                </div>

                                <div class="select-icon-option" data-key="2">
                                    <span class="option-icon-svg">{{index .Icons "Карта"}}</span>
                                    <span class="option-icon-key">Карта</span>
                                </div>

                                <div class="select-icon-option" data-key="3">
                                    <span class="option-icon-svg">{{index .Icons "Общий счет"}}</span>
                                    <span class="option-icon-key">Общий счет</span>
                                </div>

                                <div class="select-icon-option" data-key="4">
                                    <span class="option-icon-svg">{{index .Icons "Ипотека"}}</span>
                                    <span class="option-icon-key">Ипотека</span>
                                </div>

                                <div class="select-icon-option" data-key="5">
                                    <span class="option-icon-svg">{{index .Icons "Заем"}}</span>
                                    <span class="option-icon-key">Заем</span>
                                </div>

                                <div class="select-icon-option" data-key="6">
                                    <span class="option-icon-svg">{{index .Icons "Бонусы"}}</span>
                                    <span class="option-icon-key">Бонусы</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group balance-group">
                        <label for="createAccountBalance">Баланс</label>
                        <input type="text" id="createAccountBalance" name="Balance" class="form-control"
                            placeholder="0.00" inputmode="decimal">
                    </div>

                    <!-- CURRENCIES FOR ACCOUNT -->
                    <div class="form-group currency-group">
                        <label for="createAccountCurrency">Валюта</label>
                        <select id="createAccountCurrency" name="Currency" class="form-control" required>
                            <option value="0">₽ RUB</option>
                            <option value="1">$ USD</option>
                            <option value="2">€ EUR</option>
                            <option value="3">¥ CNY</option>
                            <option value="4">£ GBP</option>
                            <option value="5">₹ INR</option>
                        </select>
                    </div>

                </div>
                <button type="submit">Создать</button>
            </form>
        </div>
    </div>

    <script src="/static/js/accounts.js"></script>
</body>

</html>